*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body{
	line-height: 1;
	height: 100%;
}

img{
	vertical-align: top;
	max-width: 100%;
}

ul,
li{
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-size
	: inherit;
	font-weight: inherit;
}

a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
}