/*----fonts---------------------------------------------------------------------------------------*/
@import url(fonts.css);

@import url(reset.css);

body {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  color: #3c4242;
  line-height: 1.2;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-shrink: 1;
}
[class*="container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
/*-----Готовi  блоки--------------------------------------------------------------------------------------*/

.title {
  font-family: Core Sans C;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
}

.button {
  display: inline-flex;
  padding: 12px 48px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #3c4242;
  color: #8a33fd;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
}
.button--violet {
  background-color: #8a33fd;
  border: 1px solid transparent;
  color: #fff;
}
.button--violet:hover {
  background-color: #fff;
  border: 1px solid #3c4242;
  color: #8a33fd;
}
.button--white:hover {
  background-color: #8a33fd;
  border: 1px solid transparent;
  color: #fff;
}

.content {
  display: flex;
  gap: 36px;
}
.content__icon {
  display: inline-flex;
  align-self: center;
  background-color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
  flex: 0 0 22px;
  width: 22px;
}
.content__icon:hover {
  opacity: 0.5;
}
.content__image {
  flex: 0 0 110px;
  width: 110px;
  height: 110px;
  max-height: 110px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
}
.content__image img {
  width: 100%;
  height: 100%;
}
.content__image:hover {
  transform: scale(1.01);
}

.product {
  flex: 0 1 380px;
}
.product,
.cost__price {
  font-weight: 700;
  letter-spacing: 0.44px;
}
.product *:not(:last-child) {
  margin-bottom: 12px;
}
.product__title {
  display: inline-block;
  transition: color 0.3s;
}

.product__color span,
.product__quantity span {
  font-weight: 500;
  color: #807d7e;
}
/*-----HEADER--------------------------------------------------------------------------------------*/
.header,
.footer {
  position: relative;
  z-index: 20;
  padding: 14px 0;
}
.header__container,
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 111px;
  flex-wrap: wrap;
  row-gap: 20px;
}
.header {
  border-bottom: 1px solid #edeef2;
}

.header__left,
.header__right {
  display: flex;
  justify-content: space-between;
}

.header__left {
  column-gap: 164px;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  margin-right: 10px;
}
.header__logo {
  margin-right: 10px;
}
.header__search {
  display: inline-flex;
  gap: 12px;
  padding: 12px 48px;
  color: #807d7e;
  background-color: #f6f6f6;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.header__search::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/header/search.svg") center / cover no-repeat;
}
.header__search:hover {
  background-color: #c5bfbf;
}

.header__right {
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 20px;
  align-items: center;
}
.language {
  position: relative;
}
.language__link {
  display: flex;
  align-items: center;
  padding: 12px 28px 12px 8px;
  border-radius: 8px 8px 0 0;
  transition: all 0.5s ease;
}

.language:hover .language__link {
  background-color: #f6f6f6;
}

.language__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 5px;
  width: 10px;
  height: 5px;
  background: url("../img/header/triangle.svg") center / cover no-repeat;
}
.language:hover .language__link::after {
  transform: rotate(180deg);
}
.menu-language {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 0px 0 8px 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}
.language__link:hover + .menu-language,
.menu-language:hover {
  visibility: visible;
  opacity: 1;
}
.menu-language__item {
  margin-left: 3px;
}
.menu-language__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu-language-link {
  font-size: 16px;
}
.menu-language-link:hover {
  text-decoration: underline;
}

.header__buttons {
  display: flex;
  gap: 29px;
  /* flex-shrink: 0; */
  flex-wrap: wrap;
}

/*===============================================================================================*/
/*-----categories --------------------------------------------------------------------------------------*/

.categories {
  padding: 100px 0 50px 0;
}

.categories__title {
  display: flex;
  align-items: center;
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.985;
  letter-spacing: 0.68px;
  text-transform: capitalize;
  margin-bottom: 70px;
}
.categories__title::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 30px;
  background-color: #8a33fd;
  border-radius: 10px;
  margin-right: 20px;
}
.categories__items {
  margin: 0 -25px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}
.items__item {
  padding: 0 25px;
}
.item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
 }
.item__image {
   
  flex: 0 1 396px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 1s ease-in 0s;
}
.item__image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.item__image:hover img {
  transform: scale(1.01);
}
.item__body {
  display: flex;
  justify-content: space-between;
}

.item__content {
  max-width: 300px;
  margin-right: 15px;
}
.item__title {
  color: #2a2f2f;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.7px;
  transition: color 0.3s;
}
.item__title:hover,
.product__title:hover {
  color: #8a33fd;
}
.item__brand {
  font-family: Causten;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.536px;
  transition: transform 0.5s;
}
.item__arrow {
  align-self: center;
  min-height: 14px;
  flex: 0 0 18px;
}
.item__arrow:hover path {
  transform: scale(1.1);
  fill: #8a33fd;
}
/*===============================================================================================*/
/*----WISHLIST---------------------------------------------------------------------------------------*/

.wishlist {
  padding: 50px 0;
}
.wishlist__container,
.orders__container {
  max-width: 924px;
  padding: 0 15px;
  margin: 0 auto;
}
.wishlist__title {
  margin-bottom: 50px;
}

.item-wishlist {
  display: flex;
  gap: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid#edeef2;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}
.item-wishlist:not(:first-child){
	padding-top: 30px;
}
.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  flex-shrink: 0;
}
.cost__price {
  color: #807d7e;
}
.cost__button,
.order__button {
  padding: 14px 28px;
}
/*===============================================================================================*/
/*-------------------------------------------------------------------------------------------*/

.orders {
  padding: 50px 0 100px 0;
}

.orders__title {
  margin-bottom: 50px;
}

.order {
  border-bottom: 1px solid #edeef2;
}
.order__top {
  border-radius: 8px;
  background: #f6f6f6;
  padding: 28px 47px;
}
.order__body,
.order__bottom {
  display: flex;
  justify-content: space-between;
}
.order__title {
  font-size: 20px;
  font-weight: 600;
}
.order__title:not(:last-child) {
  margin-bottom: 14px;
}
.order__items:not(:last-child){
	margin-right: 20px;
}
.order__items--right {
  text-align: right;
}
.order__item {
  font-size: 14px;
  font-weight: 600;
}
.order__item span {
  color: #bebcbd;
  font-weight: 400;
}
.order__item:not(:last-child) {
  margin-bottom: 7px;
}
.order__bottom {
  align-items: center;
}
.order__content {
  font-size: 14px;
  padding: 30px 0;
}
.order__content .product__title {
  font-size: 16px;
}
.order__content .product__total {
  color: #807d7e;
}
.order__content {
  align-items: center;
  gap: 25px;
  margin-right: 15px;
}

.order__content .content__image {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  box-shadow: none;
}
.order__content > .product *:not(:last-child) {
  margin-bottom: 5px;
}
.order__content .product__title {
  margin-bottom: 10px;
}
.order__button{
	text-transform: capitalize;
	white-space: nowrap;
}
/*===============================================================================================*/

/*-------------------------------------------------------------------------------------------*/
.footer {
  background: #f6f6f6;
  padding: 20px 0;
}
.footer__container {
  box-shadow: inset 0 0 10px #635858, 0 0 4px 0 #fff, 0 0 20px 0 #635858;
  justify-content: center;
  border-radius: 20px;
}
.footer__text {
  text-align: center;
  padding: 5px 0;
  font-size: 40px;
}
