@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
$mainFont: "Cormorant Infant";

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
// Функції
@import "_functions.scss";

body {
  background-color: #333;
  font-size: toRem(25);
  color: #fff;
  line-height: 1.2;
  font-family: serif;
  font-family: $mainFont, serif;
}
.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: toRem(1230);
  padding-left: toRem(15);
  padding-right: toRem(15);
  margin: 0 auto;
}
ul {
  background-color: #5919cf;
  padding: toRem(20);
}
.header {
  background-color: #808080;

  // .header__container
  &__container {
    min-height: toRem(70);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .header__item
  &__item {
    font-size: toRem(50);
    text-transform: uppercase;
  }
}
.page {
  padding-top: toRem(50);
  padding-bottom: toRem(50);
  // .page__container
  &__container {
  }
  p {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
  //.page__button
  &__button {
  }
}
.block {
  padding: toRem(30) 0;
  // .block__item
  &__item {
    font-size: toRem(30);
    color: #ff0000;
  }
}
.item {
  color: yellowgreen;
  text-transform: uppercase;
}
.button {
  padding: toRem(10) toRem(25);
  background-color: #fff;
  border-radius: toRem(20);
  text-transform: capitalize;
  color: #3909cc;
  font-weight: 800;
}
.link {
  color: #8a2be2;
  text-transform: uppercase;
  text-decoration: underline;
  transition: text-decoration-color 0.5s;
  @media (any-hover: hover) {
    &:hover {
      text-decoration-color: transparent;
    }
  }
}
.footer {
  background-color: #808080;
  // .footer__container
  &__container {
    min-height: toRem(70);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .footer__item
  &__item {
    font-size: toRem(50);
    text-transform: uppercase;
  }
}
