.filter {
  border-right: toRem(1) solid rgba(190, 188, 189, 0.4);
  @media (max-width: toEm(991.98)) {
    border-left: toRem(1) solid rgba(190, 188, 189, 0.4);
  }
  // .filter__title
  &__title {
  }
  // .filter__button-title
  &__button-title {
  }

  // .filter__body
  &__body {
  }
  // .filter__section
  &__section {
    border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
  }
}

.section-filter {
  // .section-filter__body
  &__body {
    padding: toRem(40) toRem(35);
    border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
  }
  // .section-filter__menu
  &__menu {
  }
  // .section-filter__header
  &__header {
  }
  // .section-filter__price
  &__price {
  }
}
.menu-filter {
  // .menu-filter__list
  &__list {
    display: grid;
    gap: toRem(18);
  }
  // .menu-filter__item
  &__item {
  }
  // .menu-filter__link
  &__link {
    font-size: toRem(16);
    color: #8a8989;
    font-weight: 600;
    line-height: 1.19;
    display: flex;
    align-items: center;
    gap: toRem(15);
    justify-content: space-between;
    flex-direction: row-reverse;
    transition: color 0.3s;
    &::before {
      font-size: toRem(12);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $dark;
      }
    }
    &--active {
      color: $violet;
    }
  }
}

.price-filter {
  // .price-filter__range
  &__range {
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }
  // .price-filter__impunts
  &__impunts {
    display: flex;
    gap: toRem(30);
  }
  // .price-filter__input
  &__input {
    text-align: center;
    height: toRem(30);
    border-radius: toRem(8);
    border: toRem(1) solid rgba(190, 188, 189, 0.4);
    color: $dark;
    font-size: toRem(16);
    font-weight: 500;
    line-height: 1.2;
  }
}

.filter {
  // .filter__title
  &__title {
  }
}
.title-filter {
  &.active {
    .title-filter__button:not(.title-filter__button--first)::before {
      transform: rotate(180deg);
    }
  }
  // .title-filter__button-title
  &__button {
    border-bottom: toRem(1) solid rgba(190, 188, 189, 0.4);
    padding: toRem(20) toRem(30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(15);
    flex-direction: row-reverse;
    width: 100%;
    @include adaptiveValue("font-size", 22, 18);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: toRem(0.44);
    &::before {
      font-size: toRem(8);
      font-weight: 400;
      transition: transform 0.3s;
    }
    &--first::before {
      font-size: toRem(16);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $dark;
      }
    }
  }
}

.colors-filter {
  display: grid;
  gap: toRem(18);
  grid-template-columns: repeat(4, 1fr);
  // .colors-filter__item
  &__item {
    display: grid;
    gap: toRem(18);
    color: #8a8989;
    font-size: toRem(14);
    font-weight: 600;
    line-height: 1.2;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    &::before {
      content: "";
      border-radius: toRem(12);
      width: toRem(37);
      aspect-ratio: 1 / 1;
      background-color: var(--color);
    }
    &--white::before {
      border: toRem(0.967) solid #f4f1f1;
    }
    &:has(input:focus-visible) {
      outline: toRem(1) solid $dark;
      border-radius: toRem(2);
    }
    &:has(input:checked) {
      color: $dark;
      &::before {
        transform: scale(0.9);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1.05);
        }
      }
    }
  }
  // .colors-filter__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.size-filter {
  display: grid;
  gap: toRem(20);
  grid-template-columns: repeat(3, 1fr);
  // .size-filter__item
  &__item {
    color: #8a8989;
    font-size: toRem(14);
    font-weight: 600;
    line-height: 1.2;
    padding: toRem(8);
    cursor: pointer;
    border-radius: toRem(8);
    border: 1px solid rgba(190, 187, 189, 0.8);
    transition: all 0.3s;
    text-align: center;
    text-transform: uppercase;
    &:has(input:focus-visible) {
      outline: toRem(1) solid $dark;
      border-radius: toRem(2);
    }
    &:has(input:checked) {
      color: $white;
      background-color: $dark;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $white;
        background-color: $dark;
      }
    }
  }
  // .size-filter__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.style-filter {
  display: grid;
  gap: toRem(18);
  // .style-filter__item
  &__item {
    @extend .menu-filter__link;
    cursor: pointer;
    &:has(input:focus-visible) {
      outline: toRem(1) solid $dark;
      border-radius: toRem(2);
    }
    &:has(input:checked) {
      color: $violet;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
      }
    }
  }
  // .style-filter__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
