/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");

@import url(fonts.css);

/* reset */
@import url(reset.css);

/* GENERAL BLOCK STYLES (стилі загальних блоків)*/
body {
  font-family: "Causten", sans-serif;
  font-size: 18px;
  color: #3c4242;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
  display: flex;
  align-items: center;
}
.title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8a33fd;
  margin-right: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 34px;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  transition: all 0.5s;
}
.button--dark-gray {
  background-color: #3c4242;
  border-width: 0;
}
.button--black {
  border-color: #3c4242;
}
/*===============================================================================================*/

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(221, 224, 12, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgb(253, 199, 98) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 149, 0) 70.71%);
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: 30px;
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__logo {
  flex-shrink: 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  z-index: 5;
}
.menu {
  flex: 1 1 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 10px;
  line-height: 1.2;
  justify-content: flex-end;
}

.menu__link {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #3c4242;
  transition: all 0.5s;
}
.icon-menu {
  display: none;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    width: 100%;
    left: 0;
  }
}
/*===============================================================================================*/
/* DEALS  */

.deals {
  padding-top: 150px;
  padding-bottom: 70px;
}

.deals__caption {
  text-align: center;
  font-size: 58px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.deals__items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
.deals__item {
  position: relative;
  border-radius: 12px;
  display: grid;
  font-family: "Core Sans C", sans-serif;
  font-weight: 800;
  color: #fff;
  overflow: clip;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.deals__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.151);
}
.deals__content {
  position: relative;
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  padding: 28px;
  max-width: 355px;
}
@media (max-width: 1023.98px) {
  .deals__content {
    border-radius: 12px;
    background-color: rgba(88, 86, 86, 0.3);
  }
}
.deals__lable {
  font-family: "Montserrat", sans-serif;
  line-height: 1.67;
  letter-spacing: 0.251px;
  text-transform: capitalize;
}
.deals__lable:not(:last-child) {
  margin-bottom: 24px;
}
.deals__title {
  font-size: 34px;
  line-height: 1.32;
}
.deals__title:not(:last-child) {
  margin-bottom: 9px;
}
.deals__discount {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
  text-transform: uppercase;
}
.deals__discount:not(:last-child) {
  margin-bottom: 42px;
}
.deals__link {
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
  transition: text-decoration-color 0.5s;
}
@media (any-hover: hover) {
  .deals__link:hover {
    text-decoration-color: transparent;
  }
}
.deals__image {
  grid-row: 1;
  grid-column: 1;
  border-radius: 12px;
}
.deals__image img {
  aspect-ratio: 605 /357;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

/*===============================================================================================*/

/* ARRIVEL */

.arrivel {
  padding-top: 70px;
  padding-bottom: 70px;
}

.arrivel__title {
  margin-bottom: 70px;
}

.arrivel__items {
  position: relative;
  padding: 0 35px;
  display: grid;
  gap: 38px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item-arrivel {
  display: grid;
  gap: 32px;
}
.item-arrivel__image {
  position: relative;
  border-radius: 12px;
  overflow: clip;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item-arrivel__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 263 / 263;
  object-fit: cover;
  transition: all 0.5s;
}
.item-arrivel__title {
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2px;
}
.arrivel__body {
  position: relative;
}
.arrivel__arrows {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  width: 100%;
}
.arrows {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  justify-content: space-between;
  gap: 8px;
  pointer-events: auto;
}
.arrows__arrow {
  transition: transform 0.5s;
}
.arrows__arrow img {
  max-width: 100%;
}
.arrivel__arrow--right {
  left: auto;
  right: 0;
}
@media (any-hover: hover) {
  .item-arrivel__image:hover img {
    transform: scale(1.1);
    filter: grayscale(100%);
  }
  .item-arrivel__title:hover {
    text-decoration: underline;
  }
  .arrows__arrow:hover {
    transform: translateX(-20px);
  }
  .arrows__arrow--right:hover {
    transform: translateX(20px);
  }
}
/*===============================================================================================*/
/* SAVING */

.saving {
  padding-top: 70px;
  padding-bottom: 70px;
}

.saving__title {
  margin-bottom: 70px;
}

.saving__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.item-saving {
  position: relative;
  display: grid;
  grid-column: span 2;
  overflow: clip;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item-saving--white > .item-saving__content {
  color: #fff;
}
.item-saving__image {
  grid-column: 1;
  grid-row: 1;
  border-radius: 12px;
  aspect-ratio: 400 / 393;
}

.item-saving__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.item-saving__image-right img {
  object-position: right top;
}
.item-saving__content {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  padding: 20px;
  font-family: "Causten", sans-serif;
  line-height: 1.2;
  max-width: 240px;
}
.item-saving__content--right {
  justify-self: end;
  text-align: right;
  padding-right: 25px;
}

.item-saving:nth-child(3) .item-saving__content,
.item-saving--big .item-saving__content {
  justify-self: end;
  padding-left: 45px;
}
.item-saving__title {
  font-family: "Core Sans C", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
  text-transform: capitalize;
}

.item-saving__content--right > .item-saving__title:not(:last-child) {
  margin-bottom: 15px;
}
.item-saving__text {
  font-size: 14px;
  font-weight: 600;
}
.item-saving__discount {
  font-weight: 700;
  text-transform: uppercase;
}
.item-saving__discount:not(:last-child) {
  margin-bottom: 30px;
}
.item-saving__arrow {
  position: relative;
  animation: arrow 2s infinite ease;
}
.item-saving__group {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.item-saving__content--right > .item-saving__group {
  gap: 30px;
}
.item-saving__limit {
  margin-bottom: 27px;
}
.item-saving__title:not(:last-child),
.item-saving__text:not(:last-child) {
  margin-bottom: 10px;
}
/*===============================================================================================*/
/* FOOTER */
.footer {
  background: linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 149, 0) 70.71%),
    linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgb(253, 199, 98) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(221, 224, 12, 0) 70.71%);
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__text {
  font-size: 30px;
  font-weight: 800;
}
@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}
@media (any-hover: hover) {
  .button--white:hover,
  .button--dark-gray:hover,
  .button--black:hover {
    background-color: rgba(248, 248, 248, 0.6);
  }
  .button--white:hover {
    color: #808080;
    border: 1px solid #808080;
  }
  .button--dark-gray:hover {
    color: #808080;
  }
}
@media (min-width: 1024px) {
  .item-saving--big {
    grid-column: span 3;
  }
  .item-saving--big .item-saving__image {
    aspect-ratio: 610 /393;
  }
  .item-saving--big .item-saving__content {
    position: relative;
    right: 50px;
  }
}
@media (max-width: 1024px) {
  .arrivel {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .arrivel__items {
    padding: 0;
    gap: 25px;
  }
  .arrivel__title {
    margin-bottom: 30px;
  }
  .saving__items {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
  .item-saving {
    grid-column: span 1;
  }
  .item-saving--big .item-saving__image img {
    object-position: 17% -2%;
  }
  .item-saving__content--black {
    text-align: right;
  }
}
@media (max-width: 925px) {
  .item-arrivel {
    gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 50px;
  }
  .deals {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .deals__caption {
    font-size: 50px;
  }
  .saving__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .item-saving__image {
    aspect-ratio: 400 / 220;
  }
}
@media (max-width: 564px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 80px 15px 20px 15px;
    background-color: #b3bdb1eb;
    overflow: auto;
    transition: left 0.5s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    min-height: 50px;
    z-index: 6;
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(221, 224, 12, 0) 70.71%),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgb(253, 199, 98) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 149, 0) 70.71%);
    transition: left 0.5s;
  }
  .menu__list {
    flex-direction: column;
    text-align: right;
    row-gap: 25px;
  }
  .menu__link {
    font-size: 24px;
  }
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu:before,
  .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3c4242;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu-open body {
    overflow: hidden;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .deals__title {
    font-size: 33px;
  }
}
@media (max-width: 375px) {
  .item-saving__content {
    max-width: 210px;
    background-color: rgba(243, 238, 238, 0.37);
    padding-left: 11px;
    border-radius: 20px;
  }
  .item-saving--white .item-saving__content {
    background-color: rgba(112, 108, 108, 0.37);
  }
}
/*===============================================================================================*/
