@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-bold-webfont.woff2") format("woff2"), url("../fonts/causten-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-medium-webfont.woff2") format("woff2"), url("../fonts/causten-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-regular-webfont.woff2") format("woff2"), url("../fonts/causten-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-semi-bold-webfont.woff2") format("woff2"), url("../fonts/causten-semi-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-thin.woff2") format("woff2"), url("../fonts/causten-thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after,
::before {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: inherit;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=eail],
input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  line-height: 1;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 108px;
}
@media (max-width: 1023.98px) {
  .header__container {
    min-height: 60px;
  }
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 86px;
     -moz-column-gap: 86px;
          column-gap: 86px;
  margin-right: 20px;
}
@media (max-width: 1211.98px) {
  .header__left {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
@media (max-width: 499.89px) {
  .header__left {
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
    margin-right: 0;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 76px;
     -moz-column-gap: 76px;
          column-gap: 76px;
  row-gap: 15px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1211.98px) {
  .header__right {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
}
@media (max-width: 1023.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    text-align: right;
    padding: 70px 20px 30px 20px;
    background-color: rgba(170, 159, 159, 0.276);
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    background-color: rgb(170, 159, 159);
    background-color: red;
    z-index: 4;
  }
}
.menu-open .menu__body {
  left: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 5px;
}
@media (max-width: 1211.98px) {
  .menu__list {
    -webkit-column-gap: 22px;
       -moz-column-gap: 22px;
            column-gap: 22px;
  }
}
@media (max-width: 1023.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }
  .menu__list:not(:last-child) {
    margin-bottom: 25px;
  }
}
.menu__link {
  color: #807d7e;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
@media (any-hover: hover) {
  .menu__link:hover {
    font-weight: 700;
  }
}
@media (max-width: 1023.98px) {
  .menu__link {
    font-size: 25px;
  }
}

.form-search input {
  height: 44px;
  padding: 0 20px 0 40px;
  border-radius: 8px;
  background: #f6f6f6 url("../img/header/search.svg") 20px 50% no-repeat;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.form-search input::-webkit-input-placeholder {
  font-size: 16px;
}
.form-search input::-moz-placeholder {
  font-size: 16px;
}
.form-search input:-ms-input-placeholder {
  font-size: 16px;
}
.form-search input::-ms-input-placeholder {
  font-size: 16px;
}
.form-search input::placeholder {
  font-size: 16px;
}
@media (any-hover: hover) {
  .form-search input:hover {
    border-color: #807d7e;
  }
}
@media (max-width: 479.98px) {
  .form-search input {
    margin-bottom: 25px;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  position: relative;
  z-index: 5;
}
.actions__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.actions__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f6f6f6;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .actions__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 1023.98px) {
  .icon-menu {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    display: block;
    width: 30px;
    height: 16px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #807d7e;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--white {
  height: 61px;
  background-color: #fff;
  color: #3c4242;
  text-transform: capitalize;
  padding: 0 72px;
}

body {
  font-family: "Causten", sans-serif;
  font-size: 20px;
  color: #3c4242;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

/*===============================================================================================*/
.hero {
  padding-top: 108px;
}
@media (max-width: 1023.98px) {
  .hero {
    padding-top: 60px;
  }
}
.slider-hero__item {
  position: relative;
  color: #fff;
  font-family: "Core Sans C";
}
.slider-hero__image {
  position: relative;
  padding-bottom: 50%;
}
.slider-hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.slider-hero__content {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-hero__body {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  padding-right: 15px;
}
.slider-hero__sub-title {
  line-height: 1.18;
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.slider-hero__title {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.315px;
}
.slider-hero__sub-text {
  line-height: 1.47; /* 147.544% */
  letter-spacing: 0.315px;
}
.slider-hero__sub-text, .slider-hero__sub-title {
  font-size: 32px;
  font-weight: 500;
}