//Обнулення

@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
// FONTS
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@import "_fonts.scss";

// Зміні
$dark: #37393f;
$white: #fff;
$green: #40ddb6;
$violet: #6b77e5;
$gray: #f4f4f4;
$yellow: #fac70f;
$lilac: #8a33fd;
$baseFz: 18px;
@import "_header.scss";
@import "_blocks.scss";

body {
  font-family: "Inter", sans-serif;
  font-size: $baseFz;
  color: $dark;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

//HERO

.page {
  // .page__hero
  &__hero {
  }
  // .page__price
  &__price {
  }

  // .page__jewellery
  &__jewellery {
  }

  // .page__euphoria
  &__euphoria {
  }
}
.hero {
  padding-top: 189px;
  display: flex;
  position: relative;
  @media (max-width: 1024px) {
    padding-top: 135px;
  }
  @media (max-width: 991.98px) {
    padding-top: 115px;
  }
  @media (max-width: 909.98px) {
    padding-top: 70px;
  }
  @media (max-width: 574.98px) {
    padding-top: 50px;
  }
  @media (max-width: 767.98px) {
    text-align: center;
  }

  // .hero__content
  &__content {
    @media (min-width: 767.98px) {
      flex: 0 0 100%;
    }
  }
  //.hero__body
  .hero__body {
  }
  // .hero__image
  .hero__image {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .hero__sub-title
  &__sub-title {
    @media (max-width: 767.98px) {
      justify-content: center;
    }
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-size: clamp(25px, 4vw, 60px);
    font-weight: 700;
    line-height: 1.1;
  }
  // .hero__sub-text
  &__sub-text {
    margin-bottom: 10px;
    @media (max-width: 767.98px) {
      justify-content: center;
    }
  }

  //.hero__container
  &__container {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      position: relative;
      min-height: 100%;
      &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        left: 50%;
        background-color: rgba(55, 57, 63, 0.91);
        z-index: 4;
        transform: translate(-100%, 0);
        @media (max-width: 767.98px) {
          background-color: rgba(55, 57, 63, 0.91);
          color: $white;
        }
        @media (max-width: 891.98px) {
          left: 410px;
        }
      }
    }
  }
  //.hero__body
  &__body {
    @media (min-width: 768px) {
      padding: 15px;
      color: $white;
      position: relative;
      z-index: 5;
      width: 48%;
      transform: translateX(0);

      @media (min-width: 1499.98px) {
        transform: translateX(-17%);
      }
      @media (min-width: 1799.98px) {
        transform: translateX(-35%);
      }
    }
  }

  // .hero__image
  &__image {
    @media (min-width: 768px) {
      position: relative;
      flex: 0 0 76.4%;
      transform: translate(-100%, 0);
      aspect-ratio: 1466 /458;
    }
    @media (max-width: 767.98px) {
      aspect-ratio: 767 / 458;
      position: relative;
      display: flex;
    }
    @media (max-width: 1609.98px) {
      aspect-ratio: 900 /458;
    }
    @media (max-width: 991.98px) {
      aspect-ratio: 800 /458;
    }
  }
}
/*===============================================================================================*/

//PRICE
.price {
  padding-top: clamp(50px, 10.41vw, 150px);
  padding-bottom: clamp(50px, 10.41vw, 150px);

  // .price__container
  &__container {
  }
  // .price__titles
  &__titles {
    &:not(:last-child) {
      margin-bottom: clamp(30px, 10.41vw, 145px);
    }
  }
  // .price__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(386px, 1fr));
    gap: 31px;
    @media (max-width: 1249.98px) {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      column-gap: 20px;
      row-gap: 40px;
    }
  }
  // .price__card
  &__card {
  }
}
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  &__title {
    max-width: 620px;
  }
}

.card-price {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  position: relative;
  @media (any-hover: hover) {
    &:hover {
      color: $white;
    }
  }
  //.card-price__sub-text
  &__sub-text {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: $green;
    color: $white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }
  //.card-price__body
  &__body {
    padding: 47px 31px;
    text-align: center;
    background-color: $gray;
    transition: background-color 0.5s;
    @media (any-hover: hover) {
      &:hover & {
        background-color: $violet;
      }
    }
    @media (max-width: 1249.98px) {
      padding: 20px 10px;
    }
  }
  // .card-price__title
  &__title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: clamp(15px, 2.01vw, 25px);
    @media (max-width: 1249.98px) {
      font-size: 25px;
    }
  }
  // .card-price__cost
  &__cost {
    padding: 23px 37px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    @media (max-width: 1249.98px) {
      padding: 15px 0px;
    }
  }
  // .card-price__value
  &__value {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
    span {
      font-size: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 23px;
    }
    @media (max-width: 1249.98px) {
      font-size: 30px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  // .card-price__payment
  &__payment {
    color: #208068;
    font-size: 18px;
    line-height: 1.57;
    background-color: $green;
    @media (any-hover: hover) {
      &:hover & {
        color: $violet;
        background-color: $white;
      }
    }
  }
  // .card-price__content
  &__content {
    padding: 34px 0;
    color: #7d7d7d;
    line-height: 135%;
    p:not(:last-child) {
      margin-bottom: 24px;
    }
    span {
      color: $dark;
      font-weight: 700;
    }
    &:hover &__content {
      color: $white;
      span {
        color: $green;
      }
    }
    @media (max-width: 1249.98px) {
      padding: 20px 0;
      p {
        font-size: 16px;
      }
      p:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  // .card-price__button
  &__button {
    transition: all 0.5s;
    @media (any-hover: hover) {
      &:hover & {
        background-color: $white;
        color: $violet;
      }
    }
    @media (max-width: 1249.98px) {
      height: 55px;
    }
  }
}
// /*===============================================================================================*/
// JEWELLERY

.jewellery {
  padding: 90px 0;
  background-color: #04011f;
  @media (max-width: 1023.98px) {
    padding: 70px 0;
  }
  @media (max-width: 767.98px) {
    padding: 50px 0;
  }
  // .jewellery__container
  &__container {
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
  }
  // .jewellery__caption
  &__caption {
    margin-bottom: 4.25%;
  }
  // .jewellery__sub-title
  &__sub-title {
    text-transform: uppercase;
    font-size: 28px;
    color: $yellow;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    @media (max-width: 1023.98px) {
      font-size: 20px;
    }
  }
  // .jewellery__title
  &__title {
    color: #fff;
    font-family: "DM Serif Text", serif;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 146.5%;
    @media (max-width: 1023.98px) {
      font-size: 40px;
    }
    @media (max-width: 767.98px) {
      font-size: 25px;
    }
  }
  // .jewellery__items
  &__items {
    display: flex;
    column-gap: 4.84%;
    row-gap: 25px;
    flex-wrap: wrap;
    @media (max-width: 767.98px) {
      column-gap: 3.84%;
    }
  }
  &__item {
  }
}
.item-jewellery {
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  // .item-jewellery__image
  &__image {
    position: relative;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    &::before {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3));
      content: "";
      display: block;
      height: 100%;
      left: -85%;
      position: absolute;
      top: 0;
      transform: skewX(-25deg);
      width: 50%;
      z-index: 2;
      transition: left 0.5s;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
    @media (any-hover: hover) {
      &:hover::before {
        left: 100%;
      }
      &:hover img {
        transform: scale(1.1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  &--big {
    flex: 0 1 31.35%;
    padding-top: 3.375%;
  }
  &--small {
    flex: 0 1 28.47%;
  }
  &--middle {
    flex: 0 1 30.5%;
    padding-top: 9.95%;
  }
  @media (max-width: 767.98px) {
    &--big,
    &--middle {
      padding-top: 0;
    }

    flex: 0 1 30.5%;
  }
  @media (max-width: 474.89px) {
    flex: 0 1 100%;
  }
  // .item-jewellery__image--img-big
  &__image--big {
    aspect-ratio: 370 / 552;
  }
  // .item-jewellery__image--img-small
  &__image--small {
    aspect-ratio: 336 / 465;
  }
  // .item-jewellery__image--img-middle
  &__image--middle {
    aspect-ratio: 360 / 523;
  }
  // .item-jewellery__text
  &__text {
    color: $white;
    font-size: 20px;
    line-height: 1.8;
    @media (max-width: 1023.98px) {
      font-size: 15px;
      line-height: 1.3;
    }
  }
  @media (max-width: 991.98px) {
    gap: 15px;
  }
}
/*===============================================================================================*/
// EUPHORIA

.euphoria {
  font-family: "Causten", sans-serif;
  padding-top: clamp(50px, 10.41vw, 150px);
  padding-bottom: clamp(50px, 10.41vw, 150px);
  // .euphoria__container
  &__container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    //  @media (max-width: 991.98px) {
    //    flex-direction: column;
    //    row-gap: 30px;
    //  }
  }
  //.euphoria__decor
  &__decor {
    flex: 0 1 51%;
  }

  &__image {
    position: relative;
    aspect-ratio: 694 / 952;
    @media (max-width: 1099px) {
      aspect-ratio: 634 / 952;
    }
    @media (min-width: 992px) {
      max-width: 694px;
      margin-left: -18.3%;
    }
    @media (max-width: 991.98px) {
      display: none;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .euphoria__content
  &__content {
    flex: 0 1 49%;
    padding-left: 20px;
    @media (max-width: 991.98px) {
      flex: 0 0 100%;
      padding-left: 0px;
    }
  }
  // .euphoria__caption
  &__caption {
    &:not(:last-child) {
      margin-bottom: clamp(20px, 5.05vw, 50px);
    }
  }
  // .eurhoria__title
  &__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .euphoria__text
  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
  // .euphoria__social
  &__social {
  }
  // .euphoria__preference
  .euphoria__preference {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 23px;
    &:before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: rgba(102, 102, 102, 0.25);
    }
    &:not(:last-child) {
      margin-bottom: clamp(20px, 5.05vw, 50px);
    }
  }
  // .euphoria__form
  &__form {
  }
}

.social-euphoria {
  &:not(:last-child) {
    margin-bottom: clamp(20px, 5.05vw, 50px);
  }

  // .social-euphoria__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding: 16px 20px;
    color: $lilac;

    font-size: clamp(16px, 2.22vw, 22px);
    font-weight: 500;
    line-height: 1.2;
    border-radius: 8px;
    border: 1px solid #3c4242;
    transition: all 0.5s;
    &:not(:last-child) {
      margin-bottom: clamp(10px, 2.02vw, 20px);
    }
    &::before {
      flex: 0 0 20px;
      content: "";
      width: 20px;
      height: 20px;
      transition: background 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $violet;
        border-color: $violet;
        box-shadow: inset 0 0 5px $violet;
      }
    }
  }
  // .social-euphoria__item--gl
  &__item--gl {
    &:before {
      background: url("../img/euphoria/google.svg") center/ cover no-repeat;
    }
    @media (any-hover: hover) {
      &:hover::before {
        background: url("../img/euphoria/google_2.svg") center/ cover no-repeat;
      }
    }
  }
  // .social-euphoria__item--tw
  &__item--tw {
    &:before {
      background: url("../img/euphoria/twitter.svg") center/ cover no-repeat;
    }
    @media (any-hover: hover) {
      &:hover::before {
        background: url("../img/euphoria/twitter_2.svg") center/ cover no-repeat;
      }
    }
  }
}

.form-euphoria {
  // .form-euphoria__line
  &__line {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: clamp(20px, 4.04vw, 40px);
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
  //.form-euphoria__label
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 1.2;
    span {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        width: 18px;
        height: 16px;
        background: url("../img/euphoria/hide-view.svg") center / cover no-repeat;
      }
    }
  }
  // .form-euphoria__input
  &__input {
    height: 53px;
    padding: 0px 20px;
    border-radius: 8px;
    border: 1px solid #3c4242;
    &::placeholder {
      font-size: 14px;
      color: #807d7e;
    }
  }
  // .form-euphoria__return
  &__return {
    font-size: 14px;
    color: #ee1d52;
  }
  //.form-euphoria__text
  &__text {
    font-size: 16px;
    font-weight: 500;
  }
  // .form-euphoria__group
  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    margin-bottom: clamp(20px, 5.85vw, 58px);
  }
  // .form-euphoria__checkbox
  &__checkbox {
    position: relative;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }
    label {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      column-gap: 10px;
      row-gap: 5px;
      line-height: 1.2;

      &::before {
        content: "";
        flex: 0 0 18px;
        width: 18px;
        height: 18px;
        border: 1px solid $dark;
        border-radius: 3px;
      }
      @media (max-width: 474.98px) {
        font-size: 16px;
      }
    }
    input:checked + label::before {
      background: url("../img/euphoria/check.svg") center / cover no-repeat;
    }
    a {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $dark;
        transition: all 0.3s;
      }

      @media (any-hover: hover) {
        &:hover {
          &::before {
            width: 0;
          }
        }
      }
    }
  }
  // .form-euphoria__buttons
  &__buttons {
    p,
    a {
      font-size: 16px;
      letter-spacing: 0.32px;
    }
    a {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $dark;
        transition: all 0.3s;
      }

      @media (any-hover: hover) {
        &:hover {
          &::before {
            width: 0;
          }
        }
      }
    }
  }
  // .form-euphoria__button
  &__button {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
/*===============================================================================================*/
// FOOTER
.footer {
  box-shadow: inset 0 0 35px #04011f;
  // .footer__container
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  // .footer__text
  &__text {
    font-size: 50px;
  }
}
