@use "sass:math";

// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";
// Компоненти
// Функції
@import "_functions.scss";
// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;
$mainFont: "Cormorant Infant";

body {
  background-color: #333;
  font-size: toRem(25);
  color: #fff;
  line-height: 1.2;
  font-family: serif;
  font-family: $mainFont, serif;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
  &.loaded {
    opacity: 1;
  }
}
.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: toRem(1230);
  padding-left: toRem(15);
  padding-right: toRem(15);
  margin: 0 auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header,
.footer {
  min-height: toRem(80);
  background-color: #321f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
  transition: background 0.5s;
  &.footer-background {
    background-color: #0000ff;
  }
}

.page {
  padding: toRem(25);
  padding-top: toRem(100);
  // .page__container
  &__container {
  }
  // .page__link
  &__link,
  &__button {
    text-transform: uppercase;
    font-size: toRem(70);
  }

  // .page__list
  &__list {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }
  // .page__item
  &__item {
    font-size: toRem(30);
    text-transform: uppercase;
    transition: color 0.5s;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
    &.active {
      color: #ff0000;
    }
  }
  //.page__counter
  &__counter {
    margin: toRem(30) auto;
  }
}
.counter {
  text-align: center;

  max-width: toRem(117);
  font-size: toRem(80);
  padding: toRem(10);
  background-color: #9acd32;
  border-radius: 50%;
}
