.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &--white {
    height: 61px;
    background-color: $white;
    color: $dark;
    text-transform: capitalize;
    padding: 0 72px;
  }
}
