/*===============================================================================================*/
//MODULES
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.5s;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: inset 0 0 20px #000;
    }
  }
  &--white {
    height: clamp(55px, 4.72vw, 60px); //1270px
    background-color: $white;
    color: $dark;
    text-transform: capitalize;
    padding-left: clamp(40px, 5.67vw, 72px);
    padding-right: clamp(40px, 5.67vw, 72px);
    border-radius: 8px;
  }
  &--transparent,
  &--black {
    padding: 0 23px;
    border: 1px solid;
    height: 34px;
    border-radius: 4px;
  }
  &--black {
    background-color: $gray;
    border: 1px solid $gray;
    text-transform: capitalize;
  }
}
.title {
  font-family: $additionalFf, sans-serif;
  font-size: clamp(28px, 3.43vw, 34px);
  font-weight: 800;
  display: flex;
  align-items: center;
  column-gap: 20px;
  &::before {
    content: "";
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: $violet;
  }
  &--white {
    color: $white;
    &::before {
      display: none;
    }
  }
}
/*===============================================================================================*/
