// FONTS
@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@import "_fonts.scss";

///Обнулення

@import "_reset.scss";

//ЗМІННІ
$gray: #807d7e;
$dark: #3c4242;
$white: #fff;
$violet: #8a33fd;
$light-gray: #f6f6f6;

$baseFz: 20px;
$mainFf: "Causten";
$additionalFf: "Core Sans C";

@import "_header.scss";
@import "_basic_blocks.scss";
body {
  font-family: $mainFf, sans-serif;
  font-size: $baseFz;
  color: $dark;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-open body {
  overflow: hidden;
}
/*===============================================================================================*/
// HERO
.page {
  // .page__hero
  &__hero {
  }
}

.hero {
  padding-top: 108px;
  min-height: 100svh;
  @media (max-width: 1023.98px) {
    padding-top: 60px;
  }

  // .hero__slider
  &__slider {
  }
}
.slider-hero {
  // .slider-hero__item

  &__item {
    position: relative;
    display: grid;
    color: $white;
    font-family: $additionalFf;
  }
  // .slider-hero__image
  &__image {
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 74% top;
    }
  }

  // .slider-hero__container
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  // .slider-hero__content
  &__content {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    padding-right: 10px;
    padding-top: clamp(100px, 9.17vw, 132px);
    padding-bottom: clamp(100px, 9.17vw, 132px);
    @media (max-width: 674.98px) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 14, 14, 0.699);
        z-index: 4;
      }
    }
  }

  // .slider-hero__body
  &__body {
    position: relative;
    max-width: 550px;
    z-index: 5;
    padding-left: clamp(10px, 6.18vw, 89px);
    & > *:not(:last-child) {
      margin-bottom: clamp(25px, 1.6vw, 40px);
    }
    @media (max-width: 1249.98px) {
      max-width: 445px;
    }
    @media (max-width: 991.98px) {
      max-width: 400px;
    }
  }

  // .slider-hero__sub-title
  &__sub-title {
    line-height: 1.18;
    letter-spacing: 0.157px;
    text-transform: capitalize;
  }
  // .slider-hero__title
  &__title {
    font-size: clamp(45px, 5.42vw, 78px);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.315px;
    position: relative;
  }
  // .slider-hero__sub-text
  &__sub-text {
    line-height: 1.47; /* 147.544% */
    letter-spacing: 0.315px;
  }
  &__sub-text,
  &__sub-title {
    font-size: clamp(23px, 2.23vw, 32px);
    font-weight: 500;
  }

  //.slider-hero__button
  &__button {
  }
  // .slider-hero__dotts
  &__dotts {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  // .slider-hero__arrows
  &__arrows {
    pointer-events: auto;
    position: absolute;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 7;
  }
}
.dotts-slider {
  cursor: pointer;
  display: flex;
  column-gap: 3px;
  justify-content: center;
  z-index: 7;
  // .dotts-slider__dott
  &__dott {
    display: block;
    width: 63px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    // .dotts-slider__dott--left
    &--left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      left: 50px;
    }
    // .dotts-slider__dott--right
    &--right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    // .dotts-slider__dott--active
    &--active {
      background-color: $white;
    }
  }
}
@media (min-width: 767.98px) {
  .arrows-slider {
    display: grid;
    grid-template-columns: repeat(2, 24px);
    justify-content: space-between;
    // .arrows-slider__arrow
    &__arrow {
      position: relative;
      width: 24px;
      height: 45px;
      background: url("../img/hero/arrow.svg") center / cover no-repeat;
    }
    // .arrows-slider__arrow--prev
    &__arrow--prev {
      left: clamp(10px, 3.48vw, 50px);
      transform: rotate(180deg);
    }
    // .arrows-slider__arrow--next
    &__arrow--next {
      right: clamp(10px, 3.85vw, 50px);
    }
  }
}
