// FONTS
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap");
@import "_fonts.scss";

///Обнулення

@import "_reset.scss";

//ЗМІННІ
$gray: #807d7e;
$dark: #3c4242;
$white: #fff;
$violet: #8a33fd;
$light-gray: #f6f6f6;
$yellow: #fbd103;
$dark-gray: #bebcbd;

$baseFz: 20px;
$mainFf: "Causten";
$additionalFf: "Core Sans C";

@import "_header.scss";
@import "_modules.scss";

body {
  font-family: $mainFf, sans-serif;
  font-size: $baseFz;
  color: $dark;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
  > main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-open body {
  overflow: hidden;
}
.page {
  // .page__hero
  &__hero {
    margin-top: 108px;
    @media (max-width: 1023.98px) {
      margin-top: 60px;
    }
    // .page__arrival
    &__arrival {
    }
    // .page__discounts
    &__discounts {
    }
    // .page__better
    &__better {
    }
    // .page__men
    &__men {
    }
    // .page__brands
    &__brands {
    }
    // .page__popular
    &__popular {
    }
    // .page__feedback
    &__feedback {
    }
  }
}
/*===============================================================================================*/
// HERO

.hero {
  position: relative;
  min-height: calc(100vh - 108px);
  display: flex;
  @media (max-width: 1023.98px) {
    min-height: calc(100vh - 60px);
  }
  // .hero__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 76% top;
    }
  }
  // .hero__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  // .hero__content
  &__content {
    color: $white;
    font-family: $additionalFf;
    @media (max-width: 674.98px) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 14, 14, 0.4);
        z-index: 4;
      }
    }
  }
  // .hero__body
  &__body {
    position: relative;
    max-width: 550px;
    z-index: 5;
    padding-left: clamp(10px, 6.18vw, 89px);
    & > *:not(:last-child) {
      margin-bottom: clamp(25px, 1.6vw, 40px);
    }
    @media (max-width: 1199.98px) {
      max-width: 445px;
    }
    @media (max-width: 991.98px) {
      max-width: 360px;
    }
  }
  &__sub-text,
  &__sub-title {
    font-size: clamp(23px, 2.23vw, 32px);
    font-weight: 500;
  }
  // .hero__sub-title
  &__sub-title {
    line-height: 1.18;
    letter-spacing: 0.157px;
    text-transform: capitalize;
  }
  // .hero__title
  &__title {
    font-size: clamp(45px, 5.42vw, 78px);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.315px;
    position: relative;
  }
  // .hero__sub-text
  &__sub-text {
    line-height: 1.47; /* 147.544% */
    letter-spacing: 0.315px;
  }
  // .hero__button
  &__button {
    animation: scale 3s infinite;
  }
  // .hero__dotts
  &__dotts {
    position: absolute;
    bottom: 50px;
    width: 100%;
  }
  // .hero__arrows
  &__arrows {
    pointer-events: auto;
    position: absolute;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 7;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.dotts-hero {
  cursor: pointer;
  display: flex;
  column-gap: 3px;
  justify-content: center;
  z-index: 7;
  // .dotts-hero__dott
  &__dott {
    display: block;
    width: 63px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    // .dotts-hero__dott--left
    &--left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      left: 50px;
    }
    // .dotts-hero__dott--right
    &--right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    // .dotts-hero__dott--active
    &--active {
      background-color: $white;
    }
  }
}
@media (min-width: 767.98px) {
  .arrows-hero {
    display: grid;
    grid-template-columns: repeat(2, 24px);
    justify-content: space-between;
    // .arrows-hero__arrow
    &__arrow {
      position: relative;
      width: 24px;
      height: 45px;
      background: url("../img/hero/arrow.svg") center / cover no-repeat;
    }
    // .arrows-slider__arrow--prev
    &__arrow--prev {
      left: clamp(10px, 3.48vw, 50px);
      transform: rotate(180deg);
    }
    // .arrows-slider__arrow--next
    &__arrow--next {
      right: clamp(10px, 3.85vw, 50px);
    }
  }
}

// deals

.deals {
  padding-top: clamp(50px, 7.48vw, 130px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .deals__container
  &__container {
  }
  // .deals__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
  }
  // .deals__item
  &__item {
  }
}
.item-deals {
  position: relative;
  display: grid;
  overflow: clip;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.1);
    @media (max-width: 1023.98px) {
      background-color: rgba(41, 34, 34, 0.4);
    }
  }

  // .item-deals__image
  &__image {
    grid-row: 1;
    grid-column: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top right;
    }
  }
  // .item-deals__content
  &__content {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    font-family: $additionalFf, sans-serif;
    color: $white;

    max-width: 355px;
  }
  // .item-deals__body
  &__body {
    position: relative;
    align-self: center;
    padding: 28px;
    padding: clamp(15px, 4.8vw, 28px);
    max-width: 355px;
  }
  // .item-deals__sub-title
  &__sub-title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: 0.251px;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .item-deals__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  // .item-deals__sub-text
  &__sub-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.251px;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: clamp(25px, 8.75vw, 42px);
    }
  }
  // .item-deals__link
  &__link {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    text-decoration: underline;
    transition: text-decoration-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

/*===============================================================================================*/
// .ARRIVAL

.arrival {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .arrival__container
  &__container {
  }
  // .arrival__body
  &__body {
    position: relative;
  }
  // .arrival__title
  &__title {
    margin-bottom: clamp(30px, 5.6vw, 70px);
  }
  // .arrival__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: clamp(25px, 3.71vw, 38px);
    padding: 0 35px;
    @media (max-width: 767.98px) {
      padding: 0;
    }
  }
  // .arrival__item
  &__item {
  }
  // .arrival__arrows
  &__arrows {
    position: absolute;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 100%;
    pointer-events: none;
    z-index: 5;
    @media (max-width: 767.98px) {
      position: relative;
    }
  }
}

.item-arrival {
  display: flex;
  flex-direction: column;
  row-gap: clamp(15px, 3.23vw, 33px);

  // .item-arrival__image
  &__image {
    overflow: clip;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
    background: url(<path-to-image>), lightgray -68.491px -76px / 144.511% 144.511% no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  // .item-arrival__title
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
}

.arrows-arrival {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  justify-content: space-between;
  gap: 50px;
  @media (max-width: 767.98px) {
    justify-content: center;
    margin-top: 30px;
  }

  // .arrows-arrival__item
  &__item {
    width: 16px;
    height: 14px;
    pointer-events: auto;
    transition: transform 0.5s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.5);
      }
    }
    @media (max-width: 767.98px) {
      width: 26px;
      height: 24px;
    }
  }
  // .arrows-arrival__item--left
  &__item--left {
    background: url("../img/arrival/arrow.svg") center / cover no-repeat;
  }
  // .arrows-arrival__item--right
  &__item--right {
    background: url("../img/arrival/arrow_r.svg") center / cover no-repeat;
  }
}

/*===============================================================================================*/
// DISCOUNTS

.discounts {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .discounts__container
  &__container {
  }
  // .discounts__title
  &__title {
    margin-bottom: clamp(30px, 5.6vw, 70px);
  }
  // .discounts__cards
  &__cards {
    display: grid;
    gap: 20px;

    @media (max-width: 991.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 549.98px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  // .discounts__card
  &__card {
    position: relative;
  }
}

.card-discounts {
  display: grid;
  grid-column: span 2;
  position: relative;
  overflow: clip;
  border-radius: 12px;
  background: url(<path-to-image>), lightgray -259.208px -20px / 169.604% 115.097% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;
  @media (min-width: 767.98px) {
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: 0;
      right: 0;
      transform: rotate(90deg);
      background: linear-gradient(225deg, #fff 45%, #aaa 50%, #ccc 56%, #fff 80%);
      transition: all 0.3s;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
      @media (min-width: 767.98px) {
        &::after {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  @media (max-width: 699.98px) {
    color: $white;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(83, 77, 77, 0.404);
    }
  }
  & {
    @media (max-width: 991.98px) {
      grid-column: span 1;
    }
  }
  &:first-child > &__image {
    img {
      object-position: right top;
    }
  }
  &:first-child > &__content {
    justify-self: start;
  }
  &:nth-child(2) > &__content {
    text-align: right;
  }
  &:nth-child(3) > &__content {
    padding-left: 60px;
    padding-right: 17px;
  }
  //.card-discounts--small
  &--small {
    color: $white;
  }

  // card-discounts--big
  &--big {
    @media (min-width: 992px) {
      grid-column: span 3;
    }
  }
  &--big > &__content {
    @media (min-width: 992px) {
      position: relative;
      right: 50px;
    }
  }
  &--big > &__image {
    @media (min-width: 992px) {
      aspect-ratio: 610 /393;
    }
  }

  &--big > &__image {
    img {
      object-position: 17% -2%;
    }
  }

  // .card-discounts__image
  &__image {
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 400 / 393;
    transition: box-shadow 0.5s;
    @media (max-width: 549.98px) {
      aspect-ratio: 400 / 250;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  // .card-discounts__content
  &__content {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: end;
    padding: 20px;
    max-width: 240px;
    z-index: 3;
  }
  // .card-discounts__title
  &__title {
    font-family: $additionalFf, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.37;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .card-discounts__subtext
  &__subtext {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .card-discounts__discont
  &__discont {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // .card-discounts__group
  &__group {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
  }
  // .card-discounts__arrow
  &__arrow {
    position: relative;
    animation: arrow 2s infinite ease;
    @media (max-width: 699.98px) {
      path {
        stroke: #fff;
      }
    }
  }
  // .card-discounts__button
  &__button,
  &__limit {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
  }
  //.card-discounts__limit
  &__limit {
    margin-bottom: 15px;
  }
}
@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

/*===============================================================================================*/
//BETTER

.better {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px
  // .better__container
  &__container {
  }
  // .better__items
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  // .better__item
  &__item {
  }
}
.item-better {
  position: relative;
  flex: 0 1 50.45%;
  border-radius: 0 12px 12px 0;
  overflow: clip;
  display: grid;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  &--mask {
    flex: 0 1 49.55%;
    border-radius: 12px 0 0 12px;

    .item-better__image {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
        z-index: 2;
      }
    }
  }
  @media (max-width: 669.98px) {
    flex: 0 1 100%;
    border-radius: 12px;
    &:nth-child(2) {
      display: none;
    }
  }
  // .item-better__image
  &__image {
    grid-column: 1;
    grid-row: 1;
    aspect-ratio: 626 /640;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 991.98px) {
      aspect-ratio: 326 /340;
    }
    @media (max-width: 669.98px) {
      aspect-ratio: 326/150;
    }
  }
  // .item-better__content
  &__content {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    padding: clamp(20px, 5.92vw, 74px);
    z-index: 3;
  }
  // .item-better__title
  &__title {
    text-transform: uppercase;
    line-height: 1.47;
    letter-spacing: 0.208px;
    &:not(:last-child) {
      margin-bottom: clamp(15px, 3.03vw, 30px);
    }
  }
  // .item-better__text
  &__text {
    color: $white;
    font-size: clamp(16px, 2.02vw, 20px);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    &:not(:last-child) {
      margin-bottom: clamp(25px, 5.05vw, 50px);
    }
  }
  // .item-better__button
  &__button {
    height: 46px;
    padding: 0 44px;
    font-size: clamp(16px, 1.81vw, 18px);
    animation: increment 3s infinite;
  }
}
@keyframes increment {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
/*===============================================================================================*/
// MEN

.men {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .men__container
  &__container {
  }
  // .men__title
  &__title {
    margin-bottom: clamp(30px, 5.6vw, 70px);
  }
  // .men__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: clamp(25px, 3.96vw, 50px);
    @media (max-width: 1249.98px) {
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  // .men__card
  &__card {
  }
}

.card-men {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  // .card-men__image
  &__image {
    border-radius: 10px;
    overflow: clip;
    aspect-ratio: 293 / 396;

    img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  // .card-men__body
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  // .card-men__content
  &__content {
  }
  // .card-men__title
  &__title {
    color: #2a2f2f;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3; /* 156.25% */
    letter-spacing: -0.715px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  // .card-men__subtext
  &__subtext {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.536px;
    text-transform: capitalize;
  }
  // .card-men__arrow
  &__arrow {
    flex: 0 0 17px;
    width: 17px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
  }
}
/*===============================================================================================*/
//BRANDS

.brands {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .brands__container
  &__container {
  }
  //.brands__body{
  &__body {
    background-color: $dark;
    border-radius: 12px;
    padding-top: 44px;
    padding-bottom: clamp(44px, 4.17vw, 60px);
    @media (max-width: 767.98px) {
      border-radius: 0px;
    }
  }
  // .brands__title
  &__title {
    color: $white;
    text-align: center;
    font-family: $additionalFf;
    font-size: clamp(30px, 3.44vw, 50px);
    font-weight: 800;
    line-height: 1.2;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 15px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  // .brands__subtitle
  &__subtitle {
    color: $white;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    span {
      color: $yellow;
    }
    &:not(:last-child) {
      margin-bottom: clamp(30px, 4.17vw, 65px);
    }
  }
  // .brands__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    gap: clamp(10px, 1.97vw, 25px);
    max-width: 1006px;
    padding: 0 10px;
    margin: 0 auto;
  }
  // .brands__item
  &__item {
  }
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  height: 85px;
  padding: 17px 12px;
  border-radius: 12px;
  transition: transform 0.5s;
  position: relative;

  img {
    max-width: 100%;
  }
  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

/*===============================================================================================*/
// POPULAR

.popular {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(25px, 7.48vw, 48px); //1270px

  // .popular__title
  &__title {
    margin-bottom: clamp(30px, 5.6vw, 70px);
  }
  // .popular__container
  &__container {
  }
  // .popular__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: clamp(25px, 2.88vw, 36px); //1250px
  }
  // .popular__card
  &__card {
  }
}

.card-popular {
  display: flex;
  row-gap: clamp(10px, 2.4vw, 30px);
  position: relative;
  flex-direction: column;
  min-height: 100%;

  // .card-popular__wish
  &__wish {
    position: absolute;
    top: 27px;
    right: 21px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $white;
    transition: transform 0.5s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  // .card-popular__image
  &__image {
    flex-shrink: 0;
    border-radius: 12px;
    overflow: clip;
    aspect-ratio: 283 / 371;
    background: url(<path-to-image>), lightgray -209.568px 0px / 196.857% 100% no-repeat;
    img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  // .card-popular__body
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  }
  // .card-popular__content
  &__content {
    display: flex;
    flex-direction: column;
  }
  // .card-popular__title
  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-transform: capitalize;
    overflow: hidden;
    transition: text-decoration-color 0.5s;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  // .card-popular__brand
  &__brand {
    color: $gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
  }
  // .card-popular__price
  &__price {
    flex: 0 0 85px;
    width: 85px;
    align-self: flex-end;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 19px;
    border-radius: 8px;
    background-color: $light-gray;
  }
}

/*===============================================================================================*/
//FEEDBACK

.feedback {
  padding-top: clamp(25px, 7.48vw, 48px); //1270px
  padding-bottom: clamp(50px, 7.48vw, 95px); //1270px

  // .feedback__container
  &__container {
  }
  // .feedback__title
  &__title {
    margin-bottom: clamp(30px, 5.6vw, 70px);
  }
  // .feedback__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: clamp(15px, 1.82vw, 23px); //1270px
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .feedback__card
  &__card {
  }
  // .feedback__paginations
  &__paginations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 0;
  }
  // .feedback__pagination
  &__pagination {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(190, 188, 189, 0.302);
  }
  // .feedback__pagination--active
  &__pagination--active {
    background-color: $dark;
  }
}

.card-feedback {
  padding: 23px;
  border-radius: 10px;
  border: 1.8px solid #bebcbd;
  // .card-feedback__header
  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .card-feedback__image
  &__image {
    flex: 0 0 59px;
    width: 59px;
    aspect-ratio: 1 /1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .card-feedback__rating
  &__rating {
  }
  // .card-feedback__title
  &__title {
    font-family: $additionalFf, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.44px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .card-feedback__text
  &__text {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.28px;
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.rating {
  display: flex;
  column-gap: 3px;
  // .rating__item
  &__item {
    align-self: start;
  }
}
@import "_footer.scss";
