@use "sass:math";
// Шрифти
@import "_fonts.scss";
// Обнулення
@import "_reset.scss";

// Функції
@import "_functions.scss";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1250;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Змінні
$headFont: "Inter"; // головний шрифт
$helperFont: "Poppins"; //допоміжний шрифт
$mainSize: 1.125rem; // 18px

//Кольори
$gray: #7d7d7d;
$dark: #37393f;
$green: #40ddb6;
$violet: #6b77e5;
$white: #fff;
$yellow: #ffb342;
$light-gray: #f4f4f4;
$dark-green: #208068;

body {
  font-family: $headFont, sans-serif;
  @include adaptiveValue("font-size", 18, 16);
  color: $gray;
}

.wrapper {
  overflow: clip;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: toRem(1250);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}
.menu-open body {
  overflow: hidden;
}

// Компоненти
@import "_common";
@import "_header";

.page {
  // .page__hero
  &__hero {
  }
  // .page__about
  &__about {
  }
  // .page__brands
  &__brands {
  }

  // .page__services
  &__services {
  }
  // .page__why-me
  &__why-me {
  }
  // .page__projekt
  &__projekt {
  }
  // .page__response
  &__response {
  }
  // .page__level
  &__level {
  }
  .page {
    // .page__team
    &__team {
    }
    // .page__blog
    &__blog {
    }
    .page {
      // .page__subscribe
      &__subscribe {
      }
    }
  }
}
/*===============================================================================================*/
/*----HERO---------------------------------------------------------------------------------------*/

.hero {
  @include adaptiveValue("padding-top", 188, 70, 0, 1250, 911);
  @media (max-width: toEm(574.98)) {
    padding-top: toRem(54);
  }
  display: flex;
  height: 100svh;
  position: relative;

  // .hero__content
  &__content {
    width: 100%;
    @media (min-width: toEm(992)) {
      flex: 0 0 100%;
      z-index: 5;
    }
    .block-header {
      &__label {
        color: $white;
      }
      &__title {
        color: $white;
        @include adaptiveValue("font-size", 60, 30, 0, 1270, 992);
        span {
          color: $green;
        }
      }
      &__text {
        max-width: toRem(485);
      }
    }
  }
  // .hero__container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 490px;
      width: 100vw;
      height: 100%;
      background-color: rgba(55, 57, 63, 0.91);
      z-index: 2;
      transform: translate(-100%, 0);
      @media (max-width: toEm(767.98)) {
        left: 100%;
      }
    }
  }
  // .hero__body
  &__body {
    width: 100%;
    position: relative;
    z-index: 3;
    color: $white;

    @media (min-width: toEm(768)) {
      max-width: toRem(535);
      padding: toRem(15);
      @include adaptiveValue(" max-width", 535, 425, 0, 1700, 1024);
      transform: translate(toRem(-215), 0);
    }

    @media (max-width: toEm(1700)) {
      transform: translate(toRem(-65), 0);
    }
    @media (max-width: toEm(1400)) {
      transform: translate(0, 0);
    }
  }
  //hero__block-header{
  &__block-header {
    margin-bottom: toRem(35);
  }
  // .hero__buttons
  &__buttons {
    display: flex;
    @include adaptiveValue("column-gap", 30, 15, 0, 1270, 1024);
    row-gap: toRem(15);
    align-items: center;
    flex-wrap: wrap;
  }
  // .hero__button
  &__button {
  }
  // .hero__video
  &__video {
  }
  // .hero__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.video-hero {
  display: flex;
  align-items: center;
  column-gap: toRem(10);
  transition: all 0.5s;
  @media (any-hover: hover) {
    &:hover {
      .video-hero__icon {
        background-color: $violet;
        box-shadow: inset 0 0 10px #000, 0 0 10px #000;
      }
      .video-hero__title {
        text-decoration-color: inherit;
      }
    }
  }
  // .video-hero__icon
  &__icon {
    flex: 0 0 toRem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(60);
    height: toRem(60);
    background: $green url("../img/hero/play.svg") center no-repeat;
    border-radius: 50%;
    transition: background-color 0.5s;
    @media (max-width: toEm(1023.98)) {
      flex: 0 0 toRem(40);
      width: toRem(40);
      height: toRem(40);
    }
  }
  // .video-hero__title
  &__title {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s;
  }
}
/*===============================================================================================*/
/*-ABOUT------------------------------------------------------------------------------------------*/

.about {
  display: flex;
  @media (max-width: toEm(767.98)) {
    flex-direction: column-reverse;
  }
  // .about__image
  &__image {
    @include adaptiveValue("padding-top", 145, 50, 0, 1270, 992);
    @include adaptiveValue("padding-bottom", 145, 20, 0, 1270, 767.98);
    padding-left: toRem(15);
    @include adaptiveValue("padding-right", 69, 15, 0, 1270, 768);
    @media (min-width: toEm(768)) {
      flex-basis: 44.7%;
    }
  }
  // .about__content
  &__content {
    @include adaptiveValue("padding-top", 145, 50, 0, 1270, 992);
    @include adaptiveValue("padding-bottom", 145, 20, 0, 1270, 767.98);
    @include adaptiveValue("padding-left", 69, 15, 0, 1270, 768);
    padding-right: toRem(15);
    @media (min-width: toEm(768)) {
      flex-basis: 55.3%;
    }
  }
  //.about__body
  &__body {
    @media (min-width: toEm(768)) {
      max-width: toRem(670);
    }
  }
  // .about__block-header
  &__block-header {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    .block-header__title {
      @media (min-width: toEm(1064.98)) {
        max-width: toRem(420);
      }
    }
  }
  // .about__list
  &__list {
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }
  // .about__list-second
  &__list-second {
    &:not(:last-child) {
      margin-bottom: toRem(37);
    }
  }
  // .about__button
  &__button {
  }
}
.image-about {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $light-gray;
  @media (max-width: toEm(767.98)) {
    justify-content: center;
  }
  // .image-about__body
  &__body {
    @media (min-width: toEm(768)) {
      max-width: toRem(408);
    }
  }
  // .image-about__img
  &__img {
    aspect-ratio: 408 / 446;
    width: 100%;
    object-fit: cover;
    margin-bottom: toRem(20);
  }
  // .image-about__content
  &__content {
    display: grid;
    row-gap: toRem(15);
  }
  // .image-about__title
  &__title {
  }
  // .image-about__text
  &__text {
  }
  // .image-about__button
  &__button {
  }
}

.list-about {
  display: grid;
  row-gap: toRem(23);
  // .list-about__item
  &__item {
    display: flex;
    gap: toRem(8);
    &::before {
      content: "";
      flex: 0 0 toRem(27);
      width: toRem(27);
      height: toRem(27);
      background: url("../img/about/check.svg") center no-repeat;
    }
  }
}
.list-second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
  gap: toRem(20);
  // .list-second__item
  &__item {
    display: flex;
    @include adaptiveValue("padding", 32, 15);
    border: 1px solid #e3e3e3;
    column-gap: toRem(19);
  }
  // .list-second__icon
  &__icon {
    flex: 0 0 toRem(39);
    width: toRem(39);
    height: toRem(39);
  }
  // .list-second__body
  &__body {
  }
  // .list-second__title
  &__title {
    font-family: $helperFont, sans-serif;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: toRem(6);
    }
  }
  // .list-second__text
  &__text {
    font-size: toRem(16);
    line-height: 1.35;
  }
}
/*===============================================================================================*/
/*--BRANDS-----------------------------------------------------------------------------------------*/

.brands {
  @include adaptiveValue("padding-top", 70, 30, 0, 1270, 920);
  @include adaptiveValue("padding-bottom", 70, 30, 0, 1270, 920);
  // .brands__container
  &__container {
  }
  // .brands__items
  &__items {
    display: flex;
    column-gap: toRem(10);
    row-gap: toRem(20);
    align-items: center;
    justify-content: space-around;
    @media (max-width: toEm(767.98)) {
      flex-wrap: wrap;
    }
  }

  // .brands__item
  &__item {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    @media (max-width: toEm(767.98)) {
      flex: 0 0 35%;
    }

    img {
      max-width: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

/*===============================================================================================*/
/*---SERVICES----------------------------------------------------------------------------------------*/

.services {
  @include adaptiveValue("padding-bottom", 125, 50, 0, 1270, 992);
  // .services__container
  &__container {
  }
  // .services__block-header
  &__block-header {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    .block-header__label {
      justify-content: center;
    }
    .block-header__title {
      max-width: toRem(500);
      margin: 0 auto;
    }
  }
  // .services__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
    @include adaptiveValue("column-gap", 32, 15, 0, 1270, 678);
    @include adaptiveValue("row-gap", 27, 15, 0, 1270, 678);
  }
  // .services__item
  &__item {
  }
}

.item-services {
  display: flex;
  justify-content: space-between;
  @include adaptiveValue("padding", 30, 15, 0, 1270, 768);
  background-color: $light-gray;
  column-gap: toRem(15);
  &:last-child {
    background-color: $violet;
    align-items: center;
    @include adaptiveValue("min-height", 172, 126.79);
    .item-services__body {
      text-align: center;
    }
    .item-services__title {
      color: $white;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      .item-services__link,
      .item-services__more {
        text-decoration-color: inherit;
      }
      .item-services__icon {
        background-color: $violet;
      }
    }
  }
  // .item-services__body
  &__body {
    flex: 1 1 auto;
  }
  // .item-services__title
  &__title {
    max-width: toRem(195);
    color: $dark;
    font-family: $helperFont, sans-serif;

    @include adaptiveValue("font-size", 25, 20, 0, 1270, 678);
    font-style: normal;
    font-weight: 600;
    line-height: 1.27;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }
  // .item-services__link
  &__link {
    color: $violet;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s;
  }
  // .item-services__icon
  &__icon {
    flex-grow: 0;
    flex-shrink: 0;
    @include adaptiveValue("flex-basis", 72, 52);
    @include adaptiveValue("width", 72, 52);
    @include adaptiveValue("height", 72, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    border-radius: 50%;
    transition: background-color 0.5s;
    img {
      max-width: 100%;
    }
  }
  //.item-services__more
  &__more {
    font-family: $helperFont, sans-serif;
    @include adaptiveValue("font-size", 25, 20, 0, 1270, 678);
    font-weight: 600;
    color: $white;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}

/*===============================================================================================*/
/*-WHY-ME------------------------------------------------------------------------------------------*/

.why-me {
  position: relative;
  @include adaptiveValue("padding-top", 135, 50, 0, 1270, 992);
  @include adaptiveValue("padding-bottom", 135, 50, 0, 1270, 992);
  background-color: $dark;
  display: flex;
  // .why-me__container
  &__container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  // .why-me__content
  &__content {
    display: grid;
    @include adaptiveValue("row-gap", 35, 20, 0, 1270, 575);
    @media (min-width: toEm(768)) {
      flex: 0 1 50%;
    }
  }
  // .why-me__block-header
  &__block-header {
    color: $white;
    .block-header__title,
    .block-header__label {
      color: $white;
    }
    .block-header__title {
      max-width: toRem(370);
      @include adaptiveValue("font-size", 30, 25, 0 1270, 992);
    }
  }
  // .why-me__graphs
  &__graphs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(250), 1fr));
    gap: toRem(15);
  }
  // .why-me__graph
  &__graph {
  }
  // .why-me__list
  &__list {
    @media (min-width: toEm(575)) {
      column-count: 2;
    }
  }
  // .why-me__item
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: toRem(29);
    }
    color: $white;
    font-size: toRem(20);
    font-family: $helperFont, sans-serif;
    span {
      color: $yellow;
    }
    &:before {
      content: "";
      width: toRem(27);
      height: toRem(27);
      margin-right: toRem(8);
      background: url("../img/why-us/check.svg") center no-repeat;
    }
  }

  // .why-me__link
  &__link {
    font-size: toRem(18);
    color: $green;
    font-family: $headFont, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: inherit;
    transition: text-decoration-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
  //.why-me__bg
  &__bg {
    display: none;
    @media (min-width: toEm(768)) {
      display: block;
      flex: 0 0 45%;
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.graph {
  display: flex;
  @include adaptiveValue("padding-top", 27, 20, 0, 1270, 1200);
  @include adaptiveValue("padding-bottom", 27, 20, 0, 1270, 1200);
  @include adaptiveValue("padding-left", 30, 20, 0, 1270, 1200);
  @include adaptiveValue("padding-right", 30, 20, 0, 1270, 1200);
  background-color: #2e2f34;
  color: $white;
  gap: toRem(12);
  align-items: center;
  // .graph__diagram
  &__diagram {
    position: relative;
    flex: 0 0 toRem(79);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 79px;
    line-height: 1.2;
    font-family: $helperFont, sans-serif;
    font-size: 20px;
    background-color: $dark;
    border-radius: 50%;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    //.graph__diagram--first
    &--first::before {
      background: url("../img/why-us/diagram_1.svg") center no-repeat;
    }
    // /graph__diagram--second
    &--second::before {
      background: url("../img/why-us/diagram_2.svg") center no-repeat;
    }
  }
  // .graph__content
  &__content {
    font-size: 16px;
    line-height: 1.2;
    p:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }
  //graph__title
  &__title,
  &__diagram {
    font-family: $helperFont, sans-serif;
    font-weight: 600;
  }
}
/*===============================================================================================*/
/*--PROJECT-----------------------------------------------------------------------------------------*/

.project {
  @include adaptiveValue("padding-top", 125, 50, 0, 1270, 992);
  @include adaptiveValue("padding-bottom", 125, 50, 0, 1270, 992);
  @include adaptiveValue("padding-left", 30, 15, 0, 1270, 992);
  @include adaptiveValue("padding-right", 30, 15, 0, 1270, 992);
  // .project__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
    flex-wrap: wrap;
    @include adaptiveValue("margin-bottom", 40, 20, 0, 1270, 992);
    @media (max-width: toEm(991.98)) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  // .project__block-header
  .block-header {
    max-width: toRem(600);
  }
  // .project__button
  &__button {
    padding: 0px toRem(45) 0px toRem(45);
  }
  // .project__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(200), 1fr));
    @include adaptiveValue("gap", 40, 15, 0, 1440, 768);
  }
  // .project__item
  &__item {
    overflow: hidden;
    position: relative;
    aspect-ratio: 434 / 501;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: transform 0.5s;
    }
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}
/*===============================================================================================*/
/*---.RESPONSE----------------------------------------------------------------------------------------*/

.response {
  // .response__container
  &__container {
    @include adaptiveValue("padding-top", 125, 50, 0, 1270, 992);
    @include adaptiveValue("padding-bottom", 125, 50, 0, 1270, 992);
    border-top: 2px solid $light-gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));

    @include adaptiveValue("gap", 37, 15, 0, 1270, 768);
  }
  //response__block-header
  &__block-header {
  }
  // .response__option
  &__option {
  }
}

.option-response {
  @include adaptiveValue("padding-top", 50, 20);
  @include adaptiveValue("padding-bottom", 50, 20);
  @include adaptiveValue("padding-left", 37, 15);
  @include adaptiveValue("padding-right", 37, 15);
  background-color: $light-gray;
  // .option-response__top
  &__top {
    display: flex;
    column-gap: toRem(16);
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toRem(34);
    }
  }
  // .option-response__content
  &__content {
  }
  // .option-response__image
  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: toRem(100);
    height: toRem(100);
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  // .option-response__title
  &__title {
    font-family: $helperFont, sans-serif;
    font-size: toRem(20);
    color: $dark;
    font-weight: 600;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }
  // .option-response__profession
  &__profession {
    font-size: toRem(16);
    line-height: 1.2;
  }
  // .option-response__reting
  &__reting {
  }
  // .option-response__text
  &__text {
    font-style: italic;
    @include adaptiveValue("font-size", 22, 16, 0, 1270, 1090);
    line-height: 1.3;
    p:last-child {
      margin-bottom: toRem(15);
    }
  }
}

/*===============================================================================================*/
/*--LEVEL-----------------------------------------------------------------------------------------*/

.level {
  @include adaptiveValue("padding-top", 125, 50, 0, 1270, 992);
  @include adaptiveValue("padding-bottom", 125, 50, 0, 1270, 992);
  background-color: $violet;

  color: $white;
  // .level__container
  &__container {
    @media (min-width: toEm(768)) {
      display: flex;
      @include adaptiveValue("gap", 50, 20, 0, 1270, 768);
    }
  }
  // .level__how-work
  &__how-work {
    flex: 1 1 48%;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }
  // .level__book
  &__book {
    flex: 1 1 48%;
  }
  .block-header__title {
    @media (min-width: toEm(992)) {
      max-width: toRem(430);
    }
  }
  .block-header__title,
  .block-header__label {
    color: $white;
  }
}
.how-work {
  //.how-work__block-header
  &__block-header {
    @include adaptiveValue("margin-bottom", 34, 20, 0, 1270, 992);
  }
  // .how-work__project
  &__project {
    @include adaptiveValue("padding", 35, 10, 0, 1270, 992);
    background-color: $green;
    display: flex;
    gap: toRem(20);
    align-items: center;
    font-family: $helperFont, sans-serif;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20, 0, 1270, 768);
    }
  }
  // .how-work__diagram
  &__diagram {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    @include adaptiveValue("flex-basis", 128, 90, 0, 992, 768);
    border-radius: 50%;
    @include adaptiveValue("width", 128, 90, 0, 992, 768);
    @include adaptiveValue("height", 128, 90, 0, 992, 768);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/response/circle.svg") center / cover no-repeat;
      pointer-events: none;
    }
    strong {
      @include adaptiveValue("font-size", 35, 20, 0, 992, 768);
      font-weight: 700;
    }
  }
  // .how-work__text
  &__text {
    @include adaptiveValue("font-size", 25, 16, 0, 1270, 992);
    line-height: 1.27;
  }
  // .how-work__list
  &__list {
  }
}

.list-how-work {
  max-width: toRem(515);

  // .list-how-work__item
  &__item {
    position: relative;
    padding-left: toRem(40);
    background: url("../img/response/check.svg") 0 0 no-repeat;
    &:not(:last-child) {
      margin-bottom: toRem(18);
    }
    &:last-child .list-how-work__content {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  //.list-how-work__content
  &__content {
    border-bottom: toRem(1) solid $white;
    padding-bottom: toRem(20);
  }
  // .list-how-work__title
  &__title {
    font-family: $helperFont, sans-serif;
    @include adaptiveValue("font-size", 22, 18, 0, 677.68, 575);
    line-height: 1.2;
    margin-bottom: toRem(10);
  }
  // .list-how-work__text
  &__text {
    line-height: 1.2;
  }
}
.book-level {
  //.book-level__block-header
  &__block-header {
    margin-bottom: toRem(24);
  }
  // .book-level__form
  &__form {
  }
}
.form-level {
  @include adaptiveValue("padding", 58, 20, 0, 1270, 768);
  display: flex;
  flex-direction: column;
  row-gap: toRem(30);
  @include adaptiveValue("row-gap", 30, 15, 0, 991.98, 320);
  background-color: $white;
  // .form-level__line
  &__line {
    flex: 0 1 100%;
  }
  // .form-level__input
  &__input {
    @include adaptiveValue("padding-left", 30, 10, 0, 991.68, 800);
    padding-left: toRem(30);
    padding-right: toRem(10);
    &::placeholder {
      color: $dark;
    }
  }

  // .form-level__line--double
  &__line--double {
    display: flex;
    flex-basis: 100%;
    gap: toRem(20);
    @media (max-width: toEm(424.98)) {
      flex-wrap: wrap;
      input {
        flex: 0 1 100%;
      }
    }
    @media (min-width: toEm(425)) {
      input {
        flex: 0 1 49%;
      }
    }
  }
  //.form-level__line--area
  &__line--area {
    //  min-height: toRem(140);
  }

  // .form-level__textarea
  &__textarea {
    width: 100%;
    min-height: toEm(140);
    padding: toRem(10) toRem(10) toRem(10) toRem(30);
    @include adaptiveValue("padding-left", 30, 10, 0, 991.68, 800);
    resize: vertical;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0 !important;
    &::placeholder {
      color: $dark;
    }
  }
  // .form-level__button
  &__button {
    padding-left: toRem(60);
    padding-right: toRem(60);
    align-self: flex-start;
  }
}

/*===============================================================================================*/
/*--TEAM-----------------------------------------------------------------------------------------*/

.team {
  @media (min-width: toEm(768)) {
    display: grid;
  }

  //team__image
  &__image {
    grid-row: 1;
    grid-column: 1;
    aspect-ratio: 1920 / 734;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: toEm(767.98)) {
      aspect-ratio: 1.5 / 1;
    }
  }
  // .team__container
  &__container {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: toEm(767.98)) {
      align-items: flex-end;
    }
  }
  // .team__button
  &__button {
  }
}
/*===============================================================================================*/
/*-BLOG------------------------------------------------------------------------------------------*/

.blog {
  @include adaptiveValue("padding-top", 125, 50, 0, 1270, 992);
  @include adaptiveValue("padding-bottom", 63, 25, 0, 1270, 992);
  // .blog__container
  &__container {
  }
  // .blog__caption
  &__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
    flex-wrap: wrap;
    @include adaptiveValue("margin-bottom", 40, 20, 0, 1270, 768);
  }
  // .blog__button
  &__button {
  }
  // .blog__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
    @include adaptiveValue("gap", 36, 15, 0, 1270, 768);
  }
  // .blog__item
  &__item {
    overflow: hidden;
  }
}

.item-blog {
  // .item-blog__image
  &__image {
    display: block;
    margin-bottom: toRem(19);
    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  //item-blog__img
  &__img {
    overflow: hidden;
    aspect-ratio: 592/363;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s;
    }
  }
  // .item-blog__labels
  &__labels {
    display: flex;
    flex-wrap: wrap;
  }
  // .item-blog__label
  &__label {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    height: toRem(65);
    @include adaptiveValue("height", 65, 45, 0, 1270, 992);
    padding-left: toRem(20);
    padding-right: toRem(20);
    text-transform: capitalize;
    background-color: $green;
    color: $dark-green;
    @media (max-width: toEm(947.98)) {
      flex: 1 1 100%;
    }
    &:last-child {
      border-left: toRem(2) solid $dark-green;
      @media (max-width: toEm(947.98)) {
        border-top: toRem(1) solid $dark-green;
        border-left: none;
      }
    }
    img {
      margin-right: toRem(5);
    }
  }
  // .item-blog__label--bg
  &__label--bg {
    background-color: $violet;
    color: $white;
  }
  //.item-blog__content-article

  &__content-article {
    padding-right: toRem(25);
    .content-article__button {
      color: $violet;
      text-decoration-color: transparent;
      @media (any-hover: hover) {
        &:hover {
          text-decoration-color: inherit;
        }
      }
    }
  }
}
/*===============================================================================================*/
/*--.SUBSCRIBE-----------------------------------------------------------------------------------------*/

.subscribe {
  @include adaptiveValue("padding-top", 63, 25, 0, 1270, 992);
  @include adaptiveValue("padding-bottom", 125, 50, 0, 1270, 992);
  // .subscribe__container
  &__container {
    position: relative;
    background: url("../img//subscribe/team.webp") center / cover no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(64, 221, 182, 0.75);
      backdrop-filter: blur(7px);
      z-index: 2;
    }
  }

  // .subscribe__body
  &__body {
    max-width: toRem(750);
    @include adaptiveValue("padding-top", 96, 50, 0, 992, 768);
    @include adaptiveValue("padding-bottom", 96, 50, 0, 992, 768);
    padding-left: toRem(10);
    padding-right: toRem(10);
    margin: 0 auto;
    position: relative;
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .block-header {
      text-align: center;
    }
    .block-header__label {
      justify-content: center;
      margin-bottom: toRem(26);
      &::before {
        background-color: $violet;
      }
    }
    .block-header__title {
      span {
        color: $white;
      }
    }
    .block-header__text {
      color: $dark;
    }
  }
  //.subscribe__block-header
  &__block-header {
    margin-bottom: toRem(26);
  }
  // .subscribe__button
  &__button {
    padding-left: toRem(42);
    padding-right: toRem(42);
  }
}

@import "_footer";
